
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin:auto 0;
    text-align:center;
}

ul.pagination li a {
    border: 1px solid #ddd; /* Gray */
}

ul.pagination li span {
    border: 1px solid #ddd; /* Gray */
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li span {
    color: #127df0;
    font-weight:bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #1e9fff;}
